.bodyComplet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content:center;
}

.theBox {
  display: flex;
  justify-content: center;
  gap: 1%;
}
h1{
  display: flex;
  justify-content: center;
}

